body {
    color: #452319;
    /*background-color: #9f6b5e;*/
}

.department {
    height: 150px;
    background-color: #2b2c3e;
    color: #d7ddea;
    border: 1px solid #d7ddea;
    text-align: center;
    position: relative;
}

.department a {
    color: #d7ddea;
}


.department_inner {
    height: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.department button, .department a {
    width: 100%;
    height: 100%;
    background-color: #2b2c3e;
    color: #d7ddea;
    border: none;
    color: inherit;
}

.department:hover {
    background-color: #d7ddea;
    color: #2b2c3e;
}

.department button:hover {
    color: #2b2c3e;
    background-color: #d7ddea;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #2b2c3e;
}

.row {
    margin-bottom: 20px;
}

.position_btn_row a {
    background-color: #2b2c3e;
    color: #d7ddea;
}

.btn {
    background-color: #2b2c3e;
    color: #d7ddea;
}