{{ form.hidden_tag() }}
<div class="form-group required">
    {{ form.name.label(class="control-label") }}
    {{ form.name(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.surname.label(class="control-label") }}
    {{ form.surname(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.position_id.label(class="control-label") }}
    {{ form.position_id(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.email.label(class="control-label") }}
    {{ form.email(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.phone_number.label(class="control-label") }}
    {{ form.phone_number(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.birth_date.label(class="control-label") }}
    {{ form.birth_date(class="form-control", value=date_to_str(form.birth_date.data).strip()) }}
</div>
<div class="form-group required">
    {{ form.department_id.label(class="control-label") }}
    {{ form.department_id(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.start_date.label(class="control-label") }}
    {{ form.start_date(class="form-control datepicker", value=date_to_str(form.start_date.data).strip()) }}
</div>
<div class="checkbox">
    <label>
        {{ form.director }}
        {{ form.director.label }}
    </label>
</div>
{{ form.submit(class="btn btn-default") }}
