{% extends "base/jumbotron.html" %}

{% block title %} {{ department.name }} {% endblock %}

{% block jumbotron_content %}

    <h1>{{ department.name }}</h1>
    {% if  department.description %}
        <p> {{ department.description }}
            <button class="btn btn-default" data-toggle="modal" data-target="#update_department">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </p>
    {% endif %}

{% endblock %}

{% block main_content %}

    {{ modal(
                'add_vacancy',
                'Add vacancy: ',
                vacancy_form,
                action= url_for('vacancies', department_id=department.id),
                form_template='parts/vacancy_form.html'
        ) }}

    {{ modal('update_department', 'Update department:', department_form) }}

    {% if vacancies %}
        <h2>Open vacancies
            <button class="btn btn-default" data-toggle="modal" data-target="#add_vacancy"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </h2>
        <ul>
            {% for vacancy in vacancies %}
                <li>
                    <a href="{{ url_for('vacancy', department_id=vacancy.department_id, vacancy_id=vacancy.id) }}">
                        {{ vacancy.position.name }}, {{ date_to_str(vacancy.publishment_date) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No open vacancies
            <button class="btn btn-default" data-toggle="modal" data-target="#add_vacancy"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </h2>
    {% endif %}
    {% if employees %}
        <h2>Employees</h2>
        <ul>
        {% for employee in employees %}
            <li>
                <a href="{{ url_for('employee', department_id=employee.department.id, employee_id=employee.id) }}">
                    {{ employee.name }} {{ employee.surname }}, {{ employee.position.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>No employees</h2>
    {% endif %}

{% endblock %}