{% extends "base/page_header.html" %}

{% block title %} Departments {% endblock %}

{% block page_header %}

    <h1>Departments</h1>

{% endblock %}

{% block main_content %}

    <div class="row">
        <div class="department col-md-2">
            <button data-toggle="modal" data-target="#add_department">
                <div class="department_inner">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </button>
        </div>
        {% for department in departments %}
            <div class="department col-md-2">
                <a href="{{ url_for('department', department_id=department.id) }}">
                    <div class="department_inner">
                        {{ department.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {{ modal('add_department', 'Add department: ', form) }}

{% endblock %}