{{ form.hidden_tag() }}
<div class="form-group required">
    {{ form.name.label(class="control-label") }}
    {{ form.name(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.surname.label(class="control-label") }}
    {{ form.surname(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.position.label(class="control-label") }}
    {{ form.position(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.email.label(class="control-label") }}
    {{ form.email(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.phone_number.label(class="control-label") }}
    {{ form.phone_number(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.birth_date.label(class="control-label") }}
    {{ form.birth_date(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.department.label(class="control-label") }}
    {{ form.department(class="form-control") }}
</div>
<div class="form-group required">
    {{ form.start_date.label(class="control-label") }}
    {{ form.start_date(class="form-control datepicker") }}
</div>
<div class="checkbox">
    <label>
        {{ form.director }}
        {{ form.director.label }}
    </label>
</div>
{{ form.submit(class="btn btn-default") }}
